{% extends '@SonataAdmin/CRUD/action.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            //buscar las ordenes de trabajo con estado pendiente de resultado.
            $('#btnBuscar').on('click', function () {
                numeroOrden = $("#numeroOrden").val()
                $.ajax({
                url: "{{ path('lab_resultados_ordenes_pendientes') }}",
                data : {numeroOrden : numeroOrden},
                type: "GET",
                dataType: "html",
                success : function (html) {
                    $("#ordenes").html(html);
                }
                });
            });
        })


        function mostrarDetalle(idOrden) {
            $(document).ready(function () {
                //buscar las ordenes de trabajo con estado pendiente de resultado.
                $.ajax({
                url: "{{ path('lab_detalles_ordenes_pendientes') }}",
                data : {idOrden : idOrden},
                type: "GET",
                dataType: "html",
                success : function (html) {
                    //console.log(html);
                    $("#examenes").html(html);
                }

                });
            })
        }


         function mostrarElementos(idExamen) {
            $(document).ready(function () {
                //buscar las ordenes de trabajo con estado pendiente de resultado.
                $.ajax({
                url: "{{ path('lab_detalles_elementos') }}",
                data : {idExamen : idExamen},
                type: "GET",
                dataType: "html",
                success : function (html) {
                    //console.log(html);
                    $("#elementos").html(html);
                }
                });
            })
        }

        $(document).ready(function () {
            $("#btnGuardar").on('click',function(){
                $.ajax({
                url: "{{ path('lab_detalles_guardar_elementos') }}",
                data : {datos : $('#envio').serialize()},
                type: "POST",
                dataType: "html",
                success : function (html) {
                    //console.log(html);
                    $("#message").html(html);
                }
                });
            });
        });
    </script>

{% endblock %}
{% block sonata_admin_content %}
    {#{% block notice %}
        {% include "SonataCoreBundle:FlashMessage:render.html.twig" %}
    {% endblock notice %}#}
    <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <h3 class="text-primary"><strong><i class="ion ion-clipboard"></i>Búsqueda de Ordenes</strong></h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="sonata-ba-field sonata-ba-field-standard-natual">
                                        {# style="position: relative;" #}
                                        <div class="form-group">
                                            <label for="numeroOrden" class="control-label">No. Orden</label><br>
                                            <input type="text" id="numeroOrden" name="numeroOrden" class="form-control">
                                            
                                        </div>
                                        <div class="form-group">
                                            <button type="button" id="btnBuscar" style="width: 200px; margin-top: 5px;" class="btn btn-info"><i class="glyphicon glyphicon-zoom-in"></i>&nbsp; Buscar</button>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                                    {# <button type="button" id="btnBuscar" style="width: 200px; margin-top: 5px;" class="btn btn-info"><i class="glyphicon glyphicon-zoom-in"></i>&nbsp; Buscar</button> #}
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <form name="envio" method="post" id="envio">
                <div class="row">
                    <div id="ordenes" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block">
                        --resultados--
                    </div>
                    <div id="examenes" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block">
                        --examenes--
                    </div>
                    <div id="elementos" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block">
                        --elementos--
                    </div>
                    <button type="button" id="btnGuardar" style="width: 200px; margin-top: 5px;" class="btn btn-info">Guardar</button>
                    <div id="message" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block">
                        ----
                    </div>
                </div>
            </form>
    </div>
{% endblock %}
