{% extends '@SonataAdmin/CRUD/action.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function() {
        $('#tOrdenes').DataTable( {
            order:[[1,"desc"]],
            pageLength: 5,
            lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "Todos"]],
            ajax: {
                "url": "{{ path('lab_resultados_ordenes_pendientes') }}",
                "dataType": "json",
            }
        } );

        /* 
        OCULTAR BOTOR GUARDAR
        */
        $('#btnGuardar').hide();

        /* 
        ACTUALIZAR ESTADO DE ORDEN
        */
        $(document).on('click','#btnCancelar',function(e){
            rowOrden = $(this).closest('tr');
            idOrden = parseInt(rowOrden.find('td:eq(0)').text());
            //alert(idOrden);

            const msgConfirm = confirm("Esta seguro de cancelar la orden " + idOrden + "?");
            
            if(msgConfirm){
                $.ajax({
                    //Tipo de peticion: GET o POST
                    type: "GET",
                    //la URL para la peticion
                    url: "{{ path('lab_cancelar_orden') }}",
                    //La informacion a enviar
                    //tambien es posible utilizar una cadena de datps
                    data: {idOrden:idOrden},
                    //El tipo de informacion que se espera de respuesta
                    dataType: "text",
                    //Codigo a ejecutar si la peticion es satisfactoria
                    //La resṕuesta es pasada como argumento a la funcion
                    success: function (text) {
                        alert('La orden fue cancelada con ' + text);
                    }
                });
            }else{
                e.preventDefault();
            }
            
        });        

        $(document).on('click','#btnBorrarEx',function(e){
            rowDetOrden = $(this).closest('tr');
            nombreExamen = rowDetOrden.find('td:eq(0)').text();
            idDetOrden = parseInt(rowDetOrden.find('td:eq(1)').text());
            
            const msgConfirm = confirm("Esta seguro de eliminar el examen " + nombreExamen + "?");

            if(msgConfirm){
                $.ajax({
                    //Tipo de peticion: GET o POST
                    type: "GET",
                    //la URL para la peticion
                    url: "{{ path('lab_borrar_examen_orden') }}",
                    //La informacion a enviar
                    //tambien es posible utilizar una cadena de datps
                    data: {idDetOrden:idDetOrden},
                    //El tipo de informacion que se espera de respuesta
                    dataType: "text",
                    //Codigo a ejecutar si la peticion es satisfactoria
                    //La resṕuesta es pasada como argumento a la funcion
                    success: function (text) {
                        rowDetOrden.remove();
                        alert('El examen ' + nombreExamen + ' fue ' + text + 'de esta orden!');
                    }
                });
            }else{
                e.preventDefault();
            }
            
        });

        $(document).on('click','#btnBorrarResEx',function(e){
            rowDetOrden = $(this).closest('tr');
            nombreExamen = rowDetOrden.find('td:eq(0)').text();
            idDetOrden = parseInt(rowDetOrden.find('td:eq(1)').text());
            idExamen = parseInt(rowDetOrden.find('td:eq(2)').text());

            const msgConfirm = confirm("Se eliminara el resultado para: " + nombreExamen + ", confirmar!");
            
            if(msgConfirm){
                $.ajax({
                    //Tipo de peticion: GET o POST
                    type: "GET",
                    //la URL para la peticion
                    url: "{{ path('borrar_resultado_examen') }}",
                    //La informacion a enviar
                    //tambien es posible utilizar una cadena de datps
                    data: {idDetOrden:idDetOrden, idExamen:idExamen},
                    //El tipo de informacion que se espera de respuesta
                    dataType: "json",
                    //Codigo a ejecutar si la peticion es satisfactoria
                    //La resṕuesta es pasada como argumento a la funcion
                    success: function (data) {
                        //rowDetOrden.remove();
                        alert('El resultado de ' + nombreExamen + ' fue ' + data.message + '!');
                        mostrarDetalle(data.idOrden);
                    }
                });
            }else{
                e.preventDefault();
            }
            
        });

        $(document).on('click','#btnImprimirEx',function(e){
            rowDetOrden = $(this).closest('tr');
            nombreExamen = rowDetOrden.find('td:eq(0)').text();
            idDetOrden = parseInt(rowDetOrden.find('td:eq(1)').text());
            idExamen = parseInt(rowDetOrden.find('td:eq(2)').text());
            idEstadoExamen = rowDetOrden.find('td:eq(3)').text();
            
            if(idEstadoExamen == "Completo"){
                $.ajax({
                    type: "GET",
                    url: "{{ path('cargar_datos') }}",
                    data: {idDetOrden:idDetOrden, idExamen:idExamen},
                    dataType: "html",
                    async: true,
                    
                    success : function (response, url) {
                        /* PASARLE LOS PARAMETROS A LA URL */
                        //window.open("{{ path('cargar_datos') }}","_blank");
                        //cargar-datos?idDetOrden=10&idExamen=17
                        //dato1 = (data[0]).text();
                        //dato2 = (data[1]).text();
                        //console.log(url);
                        //$('#reportes').ht5ml(html);
                        //let info = JSON.parse(response);
                        //alert(response);
                        //generarPdf(response.idExamen,response.idDetOrden)
                        //console.log(response.idExamen);
                        //console.log(response.idDetOrden);
                        //var ancho = 1000;
                        //var alto = 800;
                        //var x = parseInt((window.screen.width/2)-(ancho/2));
                        //var y = parseInt((window.screen.width/2)-(ancho/2));

                        let requestUrl = this.url;

                        //console.log(this.url);

                        window.open(requestUrl).print();
                        window.close();

                        //let wPrint = window.open(requestUrl).print();
                        //wPrint.print();
                        

                    }
                //e.5preventDefault();
                });
            }else{
                alert("Este examen no tiene resultado!");
                e.preventDefault();
            }
        });
    });

    /* FIN DEL READY - CARLOS */

    /* function generarPdf(idExamen,idDetOrden){
        var ancho = 1000;
        var alto = 800;
        var x = parseInt((window.screen.width/2)-(ancho/2));
        var y = parseInt((window.screen.width/2)-(ancho/2));

        console.log(idExamen, idDetOrden);

        $url = "{{ path('cargar_datos', {idExamen:".idExamen+",idDetOrden:".idDetOrden+"}) }}";
        window.open($url,"Reporte","left="+x+",top="+y+",height="+alto+",width="+ancho+",scrollbar=si,location=no,resizable=si,menubar=no");
    } */

    $(document).ready(function () {
        //buscar las ordenes de trabajo con estado pendiente de resultado.
        $('#btnBuscar').on('click', function () {

            $('#ordenes').empty();
            $('#examenes').empty();
            $('#elementos').empty();
            $('#btnGuardar').hide();

            numeroOrden = $("#numeroOrden").val()

            if(numeroOrden != ""){
                $.ajax({
                    url: "{{ path('lab_resultados_ordenes_pendientes') }}",
                    data: {numeroOrden : numeroOrden},
                    type: "GET",
                    dataType: "html",
                    success : function (html) {
                        $("#ordenes").html(html);
                    }
                });
            }else{
                alert("Debe digitar un valor para realizar la busqueda!");
            }
        });
    })


    function mostrarDetalle(idOrden) {
        $(document).ready(function () {
            //buscar las ordenes de trabajo con estado pendiente de resultado.
            $.ajax({
            url: "{{ path('lab_detalles_ordenes_pendientes') }}",
            data : {idOrden : idOrden},
            type: "GET",
            dataType: "html",
            success : function (html) {
                //console.log(html);
                $("#examenes").html(html);
            }

            });
        })
    }

    function asignarPosibleResultado(obj,elemento){
        $(document).ready(function(){
            document.getElementById(elemento).value = obj.options[obj.selectedIndex].innerHTML;
        });
    }

    function obtenerEmpleado(obj){
        $(document).ready(function(){      
            //console.log(obj);
            $('#empleado').val(obj.value);
            //let x = document.getElementById(empleado).value;           
            //console.log(obj.value);
            //document.getElementById(empleado).value = obj.value;
        });
    }

    function mostrarElementos(idExamen,idDetalleOrden,idOrden) {
        $(document).ready(function () {
            $('#btnGuardar').show();
            //buscar las ordenes de trabajo con estado pendiente de resultado.
            $.ajax({
            url: "{{ path('lab_detalles_elementos') }}",
            data : {idExamen : idExamen,
                    idDetalleOrden: idDetalleOrden,
                    idOrden:idOrden},
            type: "GET",
            dataType: "html",
            success : function (html) {
                //console.log(typeof html);
                if(html == '2'){
                    alert("El examen ya tienen resultado!");
                }else{
                    $("#elementos").html(html);
                }
                //
                
            }
            });
        })
    }

    $(document).ready(function () {
        $("#btnGuardar").on('click',function(){
            $.ajax({
            url: "{{ path('lab_detalles_guardar_elementos') }}",
            data : {datos : $('#envio').serialize(),
                    },
            type: "POST",
            dataType: "json",
            success : function (data) {
                //console.log(data.idExamen,data.idDetalleOrden,data.idOrden);
                //$("#message").html(html);
                alert(data.message);
                $('#elementos').empty();
                $('#btnGuardar').hide();
                mostrarDetalle(data.idOrden);
                //mostrarElementos(data.idExamen,data.idDetalleOrden,data.idOrden);
            }
            });
        });
    });
</script>

{% endblock %}
{% block sonata_admin_content %}
    {#{% block notice %}
        {% include "SonataCoreBundle:FlashMessage:render.html.twig" %}
    {% endblock notice %}#}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <table id="tOrdenes" class="table table-striped table-condensed">
                                    <thead class="text-center">
                                        <td>N° Orden</td>
                                        <td>Fecha</td>
                                        <td>Paciente</td>
                                        <td>Accion</td>
                                    </thead>
                                    <tbody class="text-center">
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <form name="envio" method="post" id="envio">
                                    <div id="ordenes" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block">
                                    </div>
                                    <div id="examenes" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block">
                                    </div>
                                    <div id="elementos" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block">
                                    </div>
                                    <button type="button" id="btnGuardar" style="width: 200px; margin-top: 5px;" class="btn btn-info">Guardar   <i class="glyphicon glyphicon-save"></i></button>
                                    <div id="message" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block">
                                    </div>
                                    <div id="reportes" class="col-md-12">
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                {# <button type="button" id="btnBuscar" style="width: 200px; margin-top: 5px;" class="btn btn-info"><i class="glyphicon glyphicon-zoom-in"></i>&nbsp; Buscar</button> #}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
