{% extends '@SonataAdmin/CRUD/action.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
          //  $('#listarOrdenes').DataTable({
          //      /* 
          //      TRADUCIENDO EL LENGUAJE
          //      */
          //      "language" : {
          //          "lengthMenu"    : "Mostrar _MENU_ registros",
          //          "zeroRecords"   : "No se encontraron resultados",
          //          "info"          : "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
          //          "infoEmpty"     : "Mostrando registros del 0 al 0 de un total de 0 registros",
          //          "infoFiltered"  : "(filtrado de un todal de _MAX_ registros)",
          //          "sSearch"       : "Buscar:",
          //          "oPaginate"     : {
          //              "sFirst"    : "Primero",
          //              "sLast"     : "Ultimo",
          //              "sNext"     : "Siguiente",
          //              "sPrevious" : "Anterios"
          //          },
          //          "sProcessing"   : "Procesando...",
          //      }
          //  });

            /* 
            OCULTAR BOTOR GUARDAR
            */
           $('#btnGuardar').hide();

           /* 
           ACTUALIZAR ESTADO DE ORDEN
           */
            $(document).on('click','#btnCancelar',function(e){
                rowOrden = $(this).closest('tr');
                idOrden = parseInt(rowOrden.find('td:eq(0)').text());
                //alert(idOrden);

                const msgConfirm = confirm("Esta seguro de cancelar la orden " + idOrden + "?");
                
                if(msgConfirm){
                    $.ajax({
                    //Tipo de peticion: GET o POST
                    type: "GET",
                    //la URL para la peticion
                    url: "{{ path('lab_cancelar_orden') }}",
                    //La informacion a enviar
                    //tambien es posible utilizar una cadena de datps
                    data: {idOrden:idOrden},
                    //El tipo de informacion que se espera de respuesta
                    dataType: "text",
                    //Codigo a ejecutar si la peticion es satisfactoria
                    //La resṕuesta es pasada como argumento a la funcion
                    success: function (text) {
                        alert('La orden fue cancelada con ' + text);
                    }

                    //Codigo a ejecutar si la peticion falla
                    //Son pasados como argumentos a la funcion
                    //El objeto de la peticion en crudo y codigo de estatus de la peticion
                    /* 
                    error: function(xhr, status){
                        alert('Error al realizar la peticion');
                    } 
                    */

                    //Codigo a ejecutar si la peticion falla o no
                    /* 
                    complete: function(xhr, status){
                        alert('Peticion realizada');
                    }
                    */
                    });
                }else{
                    e.preventDefault();
                }
                
            });
            
            


            

            $(document).on('click','#btnBorrarEx',function(e){
                rowDetOrden = $(this).closest('tr');
                nombreExamen = rowDetOrden.find('td:eq(0)').text();
                idDetOrden = parseInt(rowDetOrden.find('td:eq(1)').text());
                
                //alert(nombreExamen);

                const msgConfirm = confirm("Esta seguro de eliminar el examen " + nombreExamen + "?");
                
                //alert(msgConfirm);

                if(msgConfirm){
                    $.ajax({
                    //Tipo de peticion: GET o POST
                    type: "GET",
                    //la URL para la peticion
                    url: "{{ path('lab_borrar_examen_orden') }}",
                    //La informacion a enviar
                    //tambien es posible utilizar una cadena de datps
                    data: {idDetOrden:idDetOrden},
                    //El tipo de informacion que se espera de respuesta
                    dataType: "text",
                    //Codigo a ejecutar si la peticion es satisfactoria
                    //La resṕuesta es pasada como argumento a la funcion
                    success: function (text) {
                        rowDetOrden.remove();
                        alert('El examen ' + nombreExamen + ' fue ' + text + 'de esta orden!');
                    }

                    //Codigo a ejecutar si la peticion falla
                    //Son pasados como argumentos a la funcion
                    //El objeto de la peticion en crudo y codigo de estatus de la peticion
                    /* 
                    error: function(xhr, status){
                        alert('Error al realizar la peticion');
                    } 
                    */

                    //Codigo a ejecutar si la peticion falla o no
                    /* 
                    complete: function(xhr, status){
                        alert('Peticion realizada');
                    }
                    */
                    });
                }else{
                    e.preventDefault();
                }
                
            });
        });


        $(document).ready(function () {
            //buscar las ordenes de trabajo con estado pendiente de resultado.
            $('#btnBuscar').on('click', function () {

                $('#ordenes').empty();
                $('#examenes').empty();
                $('#elementos').empty();
                $('#btnGuardar').hide();
    
                numeroOrden = $("#numeroOrden").val()
                        $.ajax({
                        url: "{{ path('lab_resultados_ordenes_pendientes') }}",
                        data : {numeroOrden : numeroOrden},
                        type: "GET",
                        dataType: "html",
                        success : function (html) {
                            $("#ordenes").html(html);
                        }
                    });
                /* if($('#ordenes').children().length == 0){
                    numeroOrden = $("#numeroOrden").val()
                        $.ajax({
                        url: "{{ path('lab_resultados_ordenes_pendientes') }}",
                        data : {numeroOrden : numeroOrden},
                        type: "GET",
                        dataType: "html",
                        success : function (html) {
                            $("#ordenes").html(html);
                        }
                    });
                }else{
                    $('#ordenes').empty();
                } */

                
            });
        })


        function mostrarDetalle(idOrden) {
            $(document).ready(function () {
                //buscar las ordenes de trabajo con estado pendiente de resultado.
                $.ajax({
                url: "{{ path('lab_detalles_ordenes_pendientes') }}",
                data : {idOrden : idOrden},
                type: "GET",
                dataType: "html",
                success : function (html) {
                    //console.log(html);
                    $("#examenes").html(html);
                }

                });
            })
        }

        function asignarPosibleResultado(obj,elemento){
            $(document).ready(function(){
                console.log(elemento);
                document.getElementById(elemento).value = obj.options[obj.selectedIndex].innerHTML;
            });
        }

         function mostrarElementos(idExamen,idDetalleOrden) {
            $(document).ready(function () {
                $('#btnGuardar').show();
                //buscar las ordenes de trabajo con estado pendiente de resultado.
                $.ajax({
                url: "{{ path('lab_detalles_elementos') }}",
                data : {idExamen : idExamen,
                        idDetalleOrden: idDetalleOrden},
                type: "GET",
                dataType: "html",
                success : function (html) {
                    //console.log(html);
                    $("#elementos").html(html);
                    
                }
                });
            })
        }

        $(document).ready(function () {
            $("#btnGuardar").on('click',function(){
                $.ajax({
                url: "{{ path('lab_detalles_guardar_elementos') }}",
                data : {datos : $('#envio').serialize(),
                        },
                type: "POST",
                dataType: "html",
                success : function (html) {
                    //console.log(html);
                    $("#message").html(html);
                }
                });
            });
        });
    </script>

{% endblock %}
{% block sonata_admin_content %}
    {#{% block notice %}
        {% include "SonataCoreBundle:FlashMessage:render.html.twig" %}
    {% endblock notice %}#}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <h4 class="text-primary"><strong><i class="fa fa-search" style="color:lightseagreen;"></i>  Búsqueda de Ordenes</strong></h4>
                                <div class="form-group">
                                    <label for="numeroOrden" class="control-label">No. Orden</label><br>
                                    <input type="text" id="numeroOrden" name="numeroOrden" class="form-control">                                            
                                </div>
                                <div class="form-group">
                                    <button type="button" id="btnBuscar" style="width: 200px; margin-top: 5px;" class="btn btn-info"><i class="glyphicon glyphicon-zoom-in"></i>&nbsp; Buscar</button>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                {# <button type="button" id="btnBuscar" style="width: 200px; margin-top: 5px;" class="btn btn-info"><i class="glyphicon glyphicon-zoom-in"></i>&nbsp; Buscar</button> #}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <form name="envio" method="post" id="envio">
                                    <div id="ordenes" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block">
                                    </div>
                                    <div id="examenes" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block">
                                    </div>
                                    <div id="elementos" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block">
                                    </div>
                                    <button type="button" id="btnGuardar" style="width: 200px; margin-top: 5px;" class="btn btn-info">Guardar   <i class="fa fa-save"></i></button>
                                    <div id="message" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block">
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                {# <button type="button" id="btnBuscar" style="width: 200px; margin-top: 5px;" class="btn btn-info"><i class="glyphicon glyphicon-zoom-in"></i>&nbsp; Buscar</button> #}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
