{% extends '@SonataAdmin/CRUD/action.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function() {
        $('#tOrdenes').DataTable( {
            order:[[0,"desc"]],
            pageLength: 5,
            lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "Todos"]],
            ajax: {
                "url": "{{ path('lab_resultados_ordenes_pendientes') }}",
                "dataType": "json",
            }
        } );

        /* 
        OCULTAR BOTOR GUARDAR
        */
        $('#btnGuardar').hide();

        /* 
        ACTUALIZAR ESTADO DE ORDEN
        */
        $(document).on('click','#btnCancelar',function(e){
            rowOrden = $(this).closest('tr');
            idOrden = parseInt(rowOrden.find('td:eq(0)').text());
            //alert(idOrden);

            const msgConfirm = confirm("Esta seguro de cancelar la orden " + idOrden + "?");
            
            if(msgConfirm){
                $.ajax({
                    //Tipo de peticion: GET o POST
                    type: "GET",
                    //la URL para la peticion
                    url: "{{ path('lab_cancelar_orden') }}",
                    //La informacion a enviar
                    //tambien es posible utilizar una cadena de datps
                    data: {idOrden:idOrden},
                    //El tipo de informacion que se espera de respuesta
                    dataType: "text",
                    //Codigo a ejecutar si la peticion es satisfactoria
                    //La resṕuesta es pasada como argumento a la funcion
                    success: function (text) {
                        alert('La orden fue cancelada con ' + text);
                    }
                });
            }else{
                e.preventDefault();
            }
            
        });        

        $(document).on('click','#btnBorrarEx',function(e){
        //function borrarExamen(idOrden, e){
            rowDetOrden = $(this).closest('tr');
            nombreExamen = rowDetOrden.find('td:eq(0)').text();
            idDetOrden = parseInt(rowDetOrden.find('td:eq(1)').text());
            //idOrden = idOrden;

            const msgConfirm = confirm("Esta seguro de eliminar el examen " + nombreExamen + "?");

            if(msgConfirm){
                $.ajax({
                    //Tipo de peticion: GET o POST
                    type: "GET",
                    //la URL para la peticion
                    url: "{{ path('lab_borrar_examen_orden') }}",
                    //La informacion a enviar
                    //tambien es posible utilizar una cadena de datps
                    data: {idDetOrden:idDetOrden,idOrden:idOrden},
                    //El tipo de informacion que se espera de respuesta
                    dataType: "text",
                    //Codigo a ejecutar si la peticion es satisfactoria
                    //La resṕuesta es pasada como argumento a la funcion
                    success: function (text) {
                        rowDetOrden.remove();
                        alert('El examen ' + nombreExamen + ' fue ' + text + 'de esta orden!');
                    }
                });
            }else{
                e.preventDefault();
            }
            
        });

        $(document).on('click','#btnBorrarOrden',function(e){
            rowDetOrden = $(this).closest('tr');
            idOrden = parseInt(rowDetOrden.find('td:eq(0)').text());
            idDetOrden = parseInt(rowDetOrden.find('td:eq(1)').text());

            const msgConfirm = confirm("Esta seguro de eliminar la orden " + idOrden + "?");

            if(msgConfirm){
                $.ajax({
                    //Tipo de peticion: GET o POST
                    type: "GET",
                    //la URL para la peticion
                    url: "{{ path('lab_borrar_orden') }}",
                    //La informacion a enviar
                    //tambien es posible utilizar una cadena de datps
                    data: {idDetOrden:idDetOrden,idOrden:idOrden},
                    //El tipo de informacion que se espera de respuesta
                    dataType: "text",
                    //Codigo a ejecutar si la peticion es satisfactoria
                    //La resṕuesta es pasada como argumento a la funcion
                    success: function (text) {
                        //rowDetOrden.remove();
                        alert('La orden ' + idOrden + ' fue ' + text + '!');
                        location.reload();
                    }
                });
            }else{
                e.preventDefault();
            }
            
        });

        $(document).on('click','#btnBorrarResEx',function(e){
            rowDetOrden = $(this).closest('tr');
            nombreExamen = rowDetOrden.find('td:eq(0)').text();
            idDetOrden = parseInt(rowDetOrden.find('td:eq(1)').text());
            idExamen = parseInt(rowDetOrden.find('td:eq(2)').text());
            

            const msgConfirm = confirm("Se eliminara el resultado para: " + nombreExamen + ", confirmar!");
            
            if(msgConfirm){
                $.ajax({
                    //Tipo de peticion: GET o POST
                    type: "GET",
                    //la URL para la peticion
                    url: "{{ path('borrar_resultado_examen') }}",
                    //La informacion a enviar
                    //tambien es posible utilizar una cadena de datps
                    data: {idDetOrden:idDetOrden, idExamen:idExamen},
                    //El tipo de informacion que se espera de respuesta
                    dataType: "json",
                    //Codigo a ejecutar si la peticion es satisfactoria
                    //La resṕuesta es pasada como argumento a la funcion
                    success: function (data) {
                        //rowDetOrden.remove();
                        alert('El resultado de ' + nombreExamen + ' fue ' + data.message + '!');
                        mostrarDetalle(data.idOrden);
                    }
                });
            }else{
                e.preventDefault();
            }
            
        });

        $(document).on('click','#btnImprimirOrden',function(e){
            rowDetOrden = $(this).closest('tr');
            //nombreExamen = rowDetOrden.find('td:eq(0)').text();
            //idDetOrden = parseInt(rowDetOrden.find('td:eq(1)').text());
            //idExamen = parseInt(rowDetOrden.find('td:eq(2)').text());
            //idEstadoExamen = rowDetOrden.find('td:eq(3)').text();
            idOrden = parseInt(rowDetOrden.find('td:eq(5)').text());
            
            $.ajax({
                type: "GET",
                url: "{{ path('cargar_datos') }}",
                data: {idOrden:idOrden},
                //idDetOrden:idDetOrden, idExamen:idExamen,
                dataType: "html",
                async: true,
                
                success : function (response, url) {
                    let requestUrl = this.url;
                    window.open(requestUrl).print();
                    window.close();
                }
            //e.5preventDefault();
            });
        });
        
        /* PRINT EXAMEN HECES */
        $(document).on('click','#btnImprimirExamenHeces',function(e){
            rowDetOrden = $(this).closest('tr');
            nombreExamen = rowDetOrden.find('td:eq(0)').text();
            idDetOrden = parseInt(rowDetOrden.find('td:eq(1)').text());
            idExamen = parseInt(rowDetOrden.find('td:eq(2)').text());
            idEstadoExamen = rowDetOrden.find('td:eq(3)').text();
            idOrden = parseInt(rowDetOrden.find('td:eq(5)').text());
            
            if(idEstadoExamen == "Completo"){
                $.ajax({
                    type: "GET",
                    url: "{{ path('cargar_datos_heces') }}",
                    data: 
                        //{idDetOrden:idDetOrden, idExamen:idExamen, 
                            {idOrden:idOrden,idExamen:idExamen,idDetOrden:idDetOrden},
                    dataType: "html",
                    async: true,
                    
                    success : function (response, url) {

                        let requestUrl = this.url;

                        window.open(requestUrl).print();
                        //window.close();
                    }
                //e.5preventDefault();
                });
            }else{
                alert("Este examen no tiene resultado!");
                e.preventDefault();
            }
        });

        /* PRINT REPORTE ORINA */
        $(document).on('click','#btnImprimirExamenOrina',function(e){
            rowDetOrden = $(this).closest('tr');
            nombreExamen = rowDetOrden.find('td:eq(0)').text();
            idDetOrden = parseInt(rowDetOrden.find('td:eq(1)').text());
            idExamen = parseInt(rowDetOrden.find('td:eq(2)').text());
            idEstadoExamen = rowDetOrden.find('td:eq(3)').text();
            idOrden = parseInt(rowDetOrden.find('td:eq(5)').text());
            
            if(idEstadoExamen == "Completo"){
                $.ajax({
                    type: "GET",
                    url: "{{ path('cargar_datos_orina') }}",
                    data: {idOrden:idOrden,idExamen:idExamen,idDetOrden:idDetOrden},
                    dataType: "html",
                    async: true,
                    
                    success : function (response, url) {
                        let requestUrl = this.url;
                        window.open(requestUrl).print();
                        //window.close();
                    }
                //e.5preventDefault();
                });
            }else{
                alert("Este examen no tiene resultado!");
                e.preventDefault();
            }
        });

        /* PRINT REPORTE HEMOGRAMA */
        $(document).on('click','#btnImprimirHemograma',function(e){
            rowDetOrden = $(this).closest('tr');
            nombreExamen = rowDetOrden.find('td:eq(0)').text();
            idDetOrden = parseInt(rowDetOrden.find('td:eq(1)').text());
            idExamen = parseInt(rowDetOrden.find('td:eq(2)').text());
            idEstadoExamen = rowDetOrden.find('td:eq(3)').text();
            idOrden = parseInt(rowDetOrden.find('td:eq(5)').text());
            
            if(idEstadoExamen == "Completo"){
                $.ajax({
                    type: "GET",
                    url: "{{ path('cargar_datos_hemograma') }}",
                    data: {idOrden:idOrden,idExamen:idExamen,idDetOrden:idDetOrden},
                    dataType: "html",
                    async: true,
                    
                    success : function (response, url) {
                        let requestUrl = this.url;
                        window.open(requestUrl).print();
                        //window.close();
                    }
                //e.5preventDefault();
                });
            }else{
                alert("Este examen no tiene resultado!");
                e.preventDefault();
            }
        });
    });

    /* FIN DEL READY - CARLOS */

    $(document).ready(function () {
        //buscar las ordenes de trabajo con estado pendiente de resultado.
        $('#btnBuscar').on('click', function () {

            $('#ordenes').empty();
            $('#examenes').empty();
            $('#elementos').empty();
            $('#btnGuardar').hide();

            numeroOrden = $("#numeroOrden").val()

            if(numeroOrden != ""){
                $.ajax({
                    url: "{{ path('lab_resultados_ordenes_pendientes') }}",
                    data: {numeroOrden : numeroOrden},
                    type: "GET",
                    dataType: "html",
                    success : function (html) {
                        $("#ordenes").html(html);
                    }
                });
            }else{
                alert("Debe digitar un valor para realizar la busqueda!");
            }
        });
    })

    function mostrarDetalle(idOrden) {
        $(document).ready(function () {
            //buscar las ordenes de trabajo con estado pendiente de resultado.
            $.ajax({
            url: "{{ path('lab_detalles_ordenes_pendientes') }}",
            data : {idOrden : idOrden},
            type: "GET",
            dataType: "html",
            success : function (html) {
                //console.log(html);
                $("#examenes").html(html);
            }

            });
        })
    }

    function asignarPosibleResultado(obj,elemento){
        $(document).ready(function(){
            document.getElementById(elemento).value = obj.options[obj.selectedIndex].innerHTML;
        });
    }

    function obtenerEmpleado(obj){
        $(document).ready(function(){      
            //console.log(obj);
            $('#empleado').val(obj.value);
            //let x = document.getElementById(empleado).value;           
            //console.log(obj.value);
            //document.getElementById(empleado).value = obj.value;
        });
    }

    function mostrarElementos(idExamen,idDetalleOrden,idOrden,idEstadoOrden) {
        $(document).ready(function () {
            if (idEstadoOrden != 2) {
                $('#btnGuardar').show();
            }
            //buscar las ordenes de trabajo con estado pendiente de resultado.
            $.ajax({
            url: "{{ path('lab_detalles_elementos') }}",
            data : {idExamen : idExamen,
                    idDetalleOrden: idDetalleOrden,
                    idOrden:idOrden},
            type: "GET",
            dataType: "html",
            success : function (html) {
                //console.log(typeof html);
                if(html == '2'){
                    alert("El examen ya tienen resultado!");
                }else{
                    $("#elementos").html(html);
                }   //
                
                }
            });
        })
    }

    $(document).ready(function () {
        $("#btnGuardar").on('click',function(){
            $.ajax({
            url: "{{ path('lab_detalles_guardar_elementos') }}",
            data : {datos : $('#envio').serialize(),
                    },
            type: "POST",
            dataType: "json",
            success : function (data) {
                //console.log(data.idExamen,data.idDetalleOrden,data.idOrden);
                //$("#message").html(html);
                alert(data.message);
                //console.log(data);
                $('#elementos').empty();
                $('#btnGuardar').hide();
                mostrarDetalle(data.idOrden);
                //mostrarElementos(data.idExamen,data.idDetalleOrden,data.idOrden);
            }
            });
        });
    });
</script>

{% endblock %}
{% block sonata_admin_content %}
    {#{% block notice %}
        {% include "SonataCoreBundle:FlashMessage:render.html.twig" %}
    {% endblock notice %}#}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="text-primary">
                                    <strong>
                                        <i class="fa fa-list" style="color:lightseagreen;"></i>
                                         Ordenes Pendientes
                                    </strong>
                                </h4>
                                <table id="tOrdenes" class="table table-striped table-condensed">
                                    <thead>
                                        <th class="text-center">N° Orden</th>
                                        <th class="text-center">Fecha</th>
                                        <th class="text-center">Paciente</th>
                                        <th class="text-center">Borrar</th>
                                        <th class="text-center">Cancelar</th>
                                    </thead>
                                    <tbody class="text-center">
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <form name="envio" method="post" id="envio">
                                    <div id="ordenes" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block">
                                    </div>
                                    <div id="examenes">
                                    </div>
                                    <div id="elementos">
                                    </div>
                                    <button type="button" id="btnGuardar" style="width: 200px; margin-top: 5px;" class="btn btn-info">Guardar   <i class="glyphicon glyphicon-save"></i></button>
                                    <div id="message" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block">
                                    </div>
                                    <div id="reportes" class="col-md-12">
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                {# <button type="button" id="btnBuscar" style="width: 200px; margin-top: 5px;" class="btn btn-info"><i class="glyphicon glyphicon-zoom-in"></i>&nbsp; Buscar</button> #}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
