{% block notice %}
    {% include '@SonataTwig/FlashMessage/render.html.twig' %}
{% endblock %}
<br>
<h3 class="text-primary"><strong><i class="fa fa-pencil" style="color:lightseagreen;"></i>  Ingresar Resultados</strong></h3>
<form action="">
    <table class="table table-responsive table-condensed">
        <thead class="btn-success">
            {# style="background-color: LightGreen; border-radius: 20px;" #}
            <tr>
                <th class="text-center" >Nombre</th>
                <th class="text-center" >Posible Resultado</th>
                <th class="text-center" >Resultado</th>
                <th class="text-center" >Rangos de Referencia</th>
                <th class="text-center" >Unidades</th>
            </tr>
        <thead>

        {% set contador = 0 %}
        {% for dato in datos %}
        {% if (dato.id_tipo_elemento == 1) %}
        <tr><td class="bg-success" colspan="5"><strong>{{dato.nombre_elemento}}</strong></td></tr>
        {% endif %}
        {% if (dato.id_tipo_elemento == 2) %}
        {% set contador = contador + 1 %}
        <tr>
            <td style="width: 20%;"><label for="idelemento_{{ dato.id }}">{{dato.nombre_elemento}}</label></td>
            <td style="display: none;"><input class="form-control" type="hidden" name="idElemento[]" value="{{dato.id}}"></td>
            <td style="width: 25%;">
            <select class="form-control" onclick="asignarPosibleResultado(this,'idelemento_{{dato.id}}')" id="idposibleresultado_{{ dato.id }}" name="idposibleresultado_{{ dato.id }}">
                <option value=""></option>
                    {% for posibleresultado in posiblesResultados %}
                        <option value="{{posibleresultado.id}}">{{posibleresultado.nombre_posible_resultado}}</option>
                    {% endfor %}
            </select>        
            </td>
            <td style="width: 25%;"><input class="form-control" type="text" name="idElemento[]" id="idelemento_{{ dato.id }}"></td>
            {# <td style="width: 30%;" class="text-center"><input class="form-control" type="text" name="idelemento_{{ dato.id }}" id="idelemento_{{ dato.id }}"></td> #}            
            <td style="width: 15%;" class="text-center"><span class="badge" style="background-color: coral; padding: 7px 40px; width: 100%;">{{dato.valor_inicial}} - {{dato.valor_final}}</span></td> 
            {% if dato.unidades is empty  %}
            <td class="text-center"><span class="badge" style="background-color: cadetblue; padding: 7px 40px; width: 100%;">-</span></td>
            {% else %}
            <td class="text-center"><span class="badge" style="background-color: cadetblue; padding: 7px; width: 100%;">{{dato.unidades}}</span></td>
            {% endif %}
            {#
            <td><input class="form-control" type="hidden" name="idElemento[]" value="{{dato.id}}"></td>
            <td><input class="form-control" type="text" name="idElemento[]" id="idelemento_{{ dato.id }}"></td>
            <td class="text-center"><span class="badge" style="background-color: coral; padding: 2px 40px">70-100</span></td>
            <td class="text-center"><span class="badge" style="background-color: cadetblue; padding: 2px 40px">mg/dL</span></td> #}
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <input type="hidden" id="empleado" name="empleado">
    <label>Profesional que proceso las muestras</label>
    <select class="form-control" onclick="obtenerEmpleado(this)" id="seleccionarEmpleado" name="seleccionarEmpleado">
                <option value=""></option>
                {% for empleado in empleados %}
                    <option value="{{empleado.id}}">{{empleado.nombres_empleado}} {{empleado.apellidos_empleado}}</option>
                {% endfor %}
    </select>
    <br>
    <input type="hidden" id="idDetalleOrden" value="{{idDetalleOrden}}" name="idDetalleOrden">
    <input type="hidden" id="nElementos"     value="{{nElementos}}"     name="nElementos">
    <input type="hidden" id="idOrden"        value="{{idOrden}}"        name="idOrden">
</form>
