{% extends 'Reportes/reporte_resultados.html.twig' %}
{% block body %}
<div class="header">
    <table>
        <tr>
            <td>
                <img src="{{absolute_url(asset('build/images/logo-lab-MB.093a0228.png')) }}" alt="">
            </td>
            <td>
               <strong>N° DE INSCRIPCION 742</strong> <br>
                1ra calle oriente y 22 avenida norte #1-9 <br>
                Telefono: 2451 9607 - WhatsApp: 7769 9792 <br>
            </td>
        </tr>
        
    </table>
    <hr>
    <table>
        <tr class="datosP">
            <td style="width: 40%;">
                <strong style="margin-left: 30px;">Paciente:</strong>
                {{ datos_head[0].nombre }} {{ datos_head[0].apellido }}
            </td>
            <td style="width: 20%;">
                <strong>Edad:</strong>
                
                {% if datos_head[0].edad_dias < 30 %}
                    {{ datos_head[0].edad_dias }} dias
                {% elseif datos_head[0].edad_meses < 12 %}
                    {{ datos_head[0].edad_meses }} meses
                {% else %}
                    {{ datos_head[0].edad_anios }} años
                {% endif %}
            </td>
            <td style="width: 40%;">
                <strong>Fecha:</strong>
                {{ datos_head[0].fecha_orden|date("d-m-Y H:i:s") }}
            </td>
        </tr>
    </table>
    <hr>
</div>
{% endblock body %}



