<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {# <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> #}
    <title>Reporte Examenes</title>
    {% block stylesheets %}
    <style>
        body{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            width: 1000px;
            /* height: 792px; */
            margin-left: auto;
            margin-right: auto;
        }

        .mainDiv{
            background-color: azure;
        }

        .tableDiv{
            /* width: 612px; */
            /* height: 792px; */
            background-color: white;
        }

        table{
            border: none;
            width: 100%;
        }
        
        tr th{
            /*margin-top: 0;*/
            text-align: center;
            font-size: 14px;
        }

        .h-reporte{
            font-size: 14px;
            padding-left: auto;
            padding-right: auto;
        }

        tr td{
            text-align: center;
            font-size: 14px;
        }

        .datosP td{
            padding-left: 10px;
            text-align: left;
            font-size: 14px;
            
        }

        .datosP td strong{
            /* margin-left: 20px; */
            font-size: 14px;
        }

        .dataE{
            text-align: left;
        }

        .dataE td{
            margin-left: 40px;
            font-size: 14px;
        }

        img{
            width: 200px;
        }

        hr{
            width: 85%;
        }
    </style>
    {% endblock stylesheets%}
</head>
<body>
{% block body %}
{% include "Reportes/header.html.twig" %}    
<div class="tableDiv">
    <table>
        <thead>
            <th class="h-reporte" style="padding-left: 20px;">
                Examen/Elemento
            </th>
            <th class="h-reporte">
                Resultado
            </th>
            <th class="h-reporte">
                Unidades
            </th>
            <th class="h-reporte" style="padding-right: 50px;">
                Rangos de Referencia
            </th>
        </thead>

    {% for arreglos in arrays %}
        {# GENERAL DE ORINA #}
        {% if arreglos is not empty %}
            {% if arreglos[0].id_examen == 16 %}
                <tbody>
                    <tr>
                        <th colspan="4" style="text-align: left; padding-left: 60px; padding-top: 10px; font-size: 14px;">
                            <strong>{{ arrays["datos_orina"][0].nombre_examen }}</strong>
                        </th>
                    </tr>

                {% for dato in arrays["datos_orina"] %}
                    {% if (dato.id_tipo_elemento == 1) %}
                    <tr><td colspan="4" style="padding-left: 60px; padding-top:10px; text-align: left; font-size: 14px;"><strong>{{dato.nombre_elemento}}</strong></td></tr>
                    {% endif %}
                    {% if (dato.id_tipo_elemento == 2) %}
                    <tr class="dataE">
                        <td style="width: 25%; text-align:left; padding-left:70px;">
                            {{ dato.nombre_elemento }}
                        </td>
                        <td style="width: 25%;">
                            {{ dato.resultado }}
                        </td>
                        <td style="width: 25%;">
                            {{ dato.unidades }}
                        </td>
                        <td style="width: 25%; padding-right: 40px;">
                            {{ dato.valor_inicial }} - {{ dato.valor_final }}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                {% if arreglos[0].observacion != "" %}
                    <tr>
                        <td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 5px; font-size: 14px;">
                            <strong>Observacion: </strong>{{ arrays["datos_orina"][0].observacion }}
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            {% endif %}
        {% endif %}

        {# GENERAL DE HECES #}
        {% if arreglos is not empty %}
            {% if arreglos[0].id_examen == 6 %}
            <tbody>
                <tr>
                    <th colspan="4" style="text-align: left; padding-left: 60px; padding-top: 10px; font-size: 14px;">
                        <strong>{{ arrays["datos_heces"][0].nombre_examen }}</strong>
                    </th>
                </tr>
                {% for dato in arrays["datos_heces"] %}
                    {% if (dato.id_tipo_elemento == 1) %}
                    <tr><td colspan="4" style="padding-left: 60px; padding-top:10px; text-align: left; font-size: 14px;"><strong>{{dato.nombre_elemento}}</strong></td></tr>
                    {% endif %}
                    {% if (dato.id_tipo_elemento == 2) %}
                    <tr class="dataE">
                        <td style="width: 25%; text-align:left; padding-left:70px;">
                            {{ dato.nombre_elemento }}
                        </td>
                        <td style="width: 25%;">
                            {{ dato.resultado }}
                        </td>
                        <td style="width: 25%;">
                            {{ dato.unidades }}
                        </td>
                        <td style="width: 25%; padding-right: 40px;">
                            {{ dato.valor_inicial }} - {{ dato.valor_final }}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                {% if arreglos[0].observacion != "" %}
                    <tr>
                        <td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 5px; font-size: 14px;">
                            <strong>Observacion: </strong>{{ arrays["datos_heces"][0].observacion }}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
            {% endif %}
        {% endif %}

        {# HEMOGRAMA COMPLETO #}
        {% if arreglos is not empty %}
            {% if arreglos[0].id_examen == 4 %}
                <tbody>
                    <tr>
                        <th colspan="4" style="text-align: left; padding-left: 60px; padding-top: 10px; font-size: 14px;">
                            <strong>{{ arrays["datos_hemograma"][0].nombre_examen }}</strong>
                        </th>
                    </tr>
                {% for dato in arrays["datos_hemograma"] %}
                    {% if (dato.id_tipo_elemento == 1) %}
                    <tr><td colspan="4" style="padding-left: 60px; padding-top:10px; text-align: left; font-size: 14px;"><strong>{{dato.nombre_elemento}}</strong></td></tr>
                    {% endif %}
                    {% if (dato.id_tipo_elemento == 2) %}
                    <tr class="dataE">
                        <td style="width: 25%; text-align:left; padding-left:70px;">
                            {{ dato.nombre_elemento }}
                        </td>
                        <td style="width: 25%;">
                            {{ dato.resultado }}
                        </td>
                        <td style="width: 25%;">
                            {{ dato.unidades }}
                        </td>
                        <td style="width: 25%; padding-right: 40px;">
                            {{ dato.valor_inicial }} - {{ dato.valor_final }}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                {% if arreglos[0].observacion != "" %}
                    <tr>
                        <td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 5px; font-size: 14px;">
                            <strong>Observacion: </strong>{{ arrays["datos_hemograma"][0].observacion }}
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            {% endif %}
        {% endif %}
        
    {% endfor %}

    {# RESTO DE PRUEBAS #}
    {% if datos is not empty %}
        {% if datos["datos_1"] is not empty and datos["datos_1"][0].id_area == "1" %}
        <tbody>
            <tr><td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 10px; font-size: 14px;"><strong>{{datos["datos_1"][0].nombre_area}}</strong></td></tr>
            {% for dato in datos["datos_1"] %}
                <tr class="dataE">
                    <td style="width: 25%; text-align:left; padding-left:75px;">
                        <strong>{{ dato.nombre_elemento }}</strong>
                    </td>
                    <td style="width: 25%;">
                        {{ dato.resultado }}
                    </td>
                    <td style="width: 25%;">
                        {{ dato.unidades }}
                    </td>
                    <td style="width: 25%; padding-right: 40px;">
                        {{ dato.valor_inicial }} - {{ dato.valor_final }}
                    </td>
                </tr>
            {% endfor %}
            {% if datos["datos_1"][0].observacion != "" %}
                <tr>
                    <td colspan="4" style="text-align: left; padding-left: 75px; padding-top: 5px; font-size: 14px;">
                        <strong>Observacion: </strong>{{ datos["datos_1"][0].observacion }}
                    </td>
                </tr>
            {% endif %}
        </tbody>
        {% endif %}
        {% if datos["datos_2"] is not empty and datos["datos_2"][0].id_area == "2" %}
        <tbody>
            <tr><td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 10px; font-size: 14px;"><strong>{{datos["datos_2"][0].nombre_area}}</strong></td></tr>
            {% for dato in datos["datos_2"] %}
                <tr class="dataE">
                    <td style="width: 25%; text-align:left; padding-left:75px;">
                        <strong>{{ dato.nombre_elemento }}</strong>
                    </td>
                    <td style="width: 25%;">
                        {{ dato.resultado }}
                    </td>
                    <td style="width: 25%;">
                        {{ dato.unidades }}
                    </td>
                    <td style="width: 25%; padding-right: 40px;">
                        {{ dato.valor_inicial }} - {{ dato.valor_final }}
                    </td>
                </tr>
            {% endfor %}
            {% if datos["datos_2"][0].observacion != "" %}
                <tr>
                    <td colspan="4" style="text-align: left; padding-left: 75px; padding-top: 5px; font-size: 14px;">
                        <strong>Observacion: </strong>{{ datos["datos_2"][0].observacion }}
                    </td>
                </tr>
            {% endif %}
        </tbody>
        {% endif %}
        {% if datos["datos_3"] is not empty and datos["datos_3"][0].id_area == "3" %}
        <tbody>
            <tr><td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 10px; font-size: 14px;"><strong>{{datos["datos_3"][0].nombre_area}}</strong></td></tr>
            {% for dato in datos["datos_3"] %}
                <tr class="dataE">
                    <td style="width: 25%; text-align:left; padding-left:75px;">
                        <strong>{{ dato.nombre_elemento }}</strong>
                    </td>
                    <td style="width: 25%;">
                        {{ dato.resultado }}
                    </td>
                    <td style="width: 25%;">
                        {{ dato.unidades }}
                    </td>
                    <td style="width: 25%; padding-right: 40px;">
                        {{ dato.valor_inicial }} - {{ dato.valor_final }}
                    </td>
                </tr>
            {% endfor %}
            {% if datos["datos_3"][0].observacion != "" %}
                <tr>
                    <td colspan="4" style="text-align: left; padding-left: 75px; padding-top: 5px; font-size: 14px;">
                        <strong>Observacion: </strong>{{ datos["datos_3"][0].observacion }}
                    </td>
                </tr>
            {% endif %}
        </tbody>
        {% endif %}
        {% if datos["datos_4"] is not empty and datos["datos_4"][0].id_area == "4" %}
        <tbody>
            <tr><td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 10px; font-size: 14px;"><strong>{{datos["datos_4"][0].nombre_area}}</strong></td></tr>
            {% for dato in datos["datos_4"] %}
                <tr class="dataE">
                    <td style="width: 25%; text-align:left; padding-left:75px;">
                        <strong>{{ dato.nombre_elemento }}</strong>
                    </td>
                    <td style="width: 25%;">
                        {{ dato.resultado }}
                    </td>
                    <td style="width: 25%;">
                        {{ dato.unidades }}
                    </td>
                    <td style="width: 25%; padding-right: 40px;">
                        {{ dato.valor_inicial }} - {{ dato.valor_final }}
                    </td>
                </tr>
            {% endfor %}
            {% if datos["datos_4"][0].observacion != "" %}
                <tr>
                    <td colspan="4" style="text-align: left; padding-left: 75px; padding-top: 5px; font-size: 14px;">
                        <strong>Observacion: </strong>{{ datos["datos_4"][0].observacion }}
                    </td>
                </tr>
            {% endif %}
        </tbody>
        {% endif %}
        {% if datos["datos_5"] is not empty and datos["datos_5"][0].id_area == "5" %}
        <tbody>
            <tr><td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 10px; font-size: 14px;"><strong>{{datos["datos_5"][0].nombre_area}}</strong></td></tr>
            {% for dato in datos["datos_5"] %}
                <tr class="dataE">
                    <td style="width: 25%; text-align:left; padding-left:75px;">
                        <strong>{{ dato.nombre_elemento }}</strong>
                    </td>
                    <td style="width: 25%;">
                        {{ dato.resultado }}
                    </td>
                    <td style="width: 25%;">
                        {{ dato.unidades }}
                    </td>
                    <td style="width: 25%; padding-right: 40px;">
                        {{ dato.valor_inicial }} - {{ dato.valor_final }}
                    </td>
                </tr>
            {% endfor %}
            {% if datos["datos_5"][0].observacion != "" %}
                <tr>
                    <td colspan="4" style="text-align: left; padding-left: 75px; padding-top: 5px; font-size: 14px;">
                        <strong>Observacion: </strong>{{ datos["datos_5"][0].observacion }}
                    </td>
                </tr>
            {% endif %}
        </tbody>
        {% endif %}
        {% if datos["datos_6"] is not empty and datos["datos_6"][0].id_area == "6" %}
        <tbody>
            <tr><td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 10px; font-size: 14px;"><strong>{{datos["datos_6"][0].nombre_area}}</strong></td></tr>
            {% for dato in datos["datos_6"] %}
                <tr class="dataE">
                    <td style="width: 25%; text-align:left; padding-left:75px;">
                        <strong>{{ dato.nombre_elemento }}</strong>
                    </td>
                    <td style="width: 25%;">
                        {{ dato.resultado }}
                    </td>
                    <td style="width: 25%;">
                        {{ dato.unidades }}
                    </td>
                    <td style="width: 25%; padding-right: 40px;">
                        {{ dato.valor_inicial }} - {{ dato.valor_final }}
                    </td>
                </tr>
            {% endfor %}
            {% if datos["datos_6"][0].observacion != "" %}
                <tr>
                    <td colspan="4" style="text-align: left; padding-left: 75px; padding-top: 5px; font-size: 14px;">
                        <strong>Observacion: </strong>{{ datos["datos_6"][0].observacion }}
                    </td>
                </tr>
            {% endif %}
        </tbody>
        {% endif %}
        {% if datos["datos_7"] is not empty and datos["datos_7"][0].id_area == "7" %}
        <tbody>
            <tr><td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 10px; font-size: 14px;"><strong>{{datos["datos_7"][0].nombre_area}}</strong></td></tr>
            {% for dato in datos["datos_7"] %}
                <tr class="dataE">
                    <td style="width: 25%; text-align:left; padding-left:75px;">
                        <strong>{{ dato.nombre_elemento }}</strong>
                    </td>
                    <td style="width: 25%;">
                        {{ dato.resultado }}
                    </td>
                    <td style="width: 25%;">
                        {{ dato.unidades }}
                    </td>
                    <td style="width: 25%; padding-right: 40px;">
                        {{ dato.valor_inicial }} - {{ dato.valor_final }}
                    </td>
                </tr>
            {% endfor %}
            {% if datos["datos_7"][0].observacion != "" %}
                <tr>
                    <td colspan="4" style="text-align: left; padding-left: 75px; padding-top: 5px; font-size: 14px;">
                        <strong>Observacion: </strong>{{ datos["datos_7"][0].observacion }}
                    </td>
                </tr>
            {% endif %}
        </tbody>
        {% endif %}
        {% if datos["datos_8"] is not empty and datos["datos_8"][0].id_area == "8" %}
        <tbody>
            <tr><td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 10px; font-size: 14px;"><strong>{{datos["datos_8"][0].nombre_area}}</strong></td></tr>
            {% for dato in datos["datos_8"] %}
                <tr class="dataE">
                    <td style="width: 25%; text-align:left; padding-left:75px;">
                        <strong>{{ dato.nombre_elemento }}</strong>
                    </td>
                    <td style="width: 25%;">
                        {{ dato.resultado }}
                    </td>
                    <td style="width: 25%;">
                        {{ dato.unidades }}
                    </td>
                    <td style="width: 25%; padding-right: 40px;">
                        {{ dato.valor_inicial }} - {{ dato.valor_final }}
                    </td>
                </tr>
            {% endfor %}
            {% if datos["datos_8"][0].observacion != "" %}
                <tr>
                    <td colspan="4" style="text-align: left; padding-left: 75px; padding-top: 5px; font-size: 14px;">
                        <strong>Observacion: </strong>{{ datos["datos_8"][0].observacion }}
                    </td>
                </tr>
            {% endif %}
        </tbody>
        {% endif %}
        {% if datos["datos_9"] is not empty and datos["datos_9"][0].id_area == "9" %}
        <tbody>
            <tr><td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 10px; font-size: 14px;"><strong>{{datos["datos_9"][0].nombre_area}}</strong></td></tr>
            {% for dato in datos["datos_9"] %}
                <tr class="dataE">
                    <td style="width: 25%; text-align:left; padding-left:75px;">
                        <strong>{{ dato.nombre_elemento }}</strong>
                    </td>
                    <td style="width: 25%;">
                        {{ dato.resultado }}
                    </td>
                    <td style="width: 25%;">
                        {{ dato.unidades }}
                    </td>
                    <td style="width: 25%; padding-right: 40px;">
                        {{ dato.valor_inicial }} - {{ dato.valor_final }}
                    </td>
                </tr>
            {% endfor %}
            {% if datos["datos_9"][0].observacion != "" %}
                <tr>
                    <td colspan="4" style="text-align: left; padding-left: 75px; padding-top: 5px; font-size: 14px;">
                        <strong>Observacion: </strong>{{ datos["datos_9"][0].observacion }}
                    </td>
                </tr>
            {% endif %}
        </tbody>
        {% endif %}
        {% if datos["datos_10"] is not empty and datos["datos_10"][0].id_area == "10" %}
        <tbody>
            <tr><td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 10px; font-size: 14px;"><strong>{{datos["datos_10"][0].nombre_area}}</strong></td></tr>
            {% for dato in datos["datos_10"] %}
                <tr class="dataE">
                    <td style="width: 25%; text-align:left; padding-left:75px;">
                        <strong>{{ dato.nombre_elemento }}</strong>
                    </td>
                    <td style="width: 25%;">
                        {{ dato.resultado }}
                    </td>
                    <td style="width: 25%;">
                        {{ dato.unidades }}
                    </td>
                    <td style="width: 25%; padding-right: 40px;">
                        {{ dato.valor_inicial }} - {{ dato.valor_final }}
                    </td>
                </tr>
            {% endfor %}
            {% if datos["datos_10"][0].observacion != "" %}
                <tr>
                    <td colspan="4" style="text-align: left; padding-left: 75px; padding-top: 5px; font-size: 14px;">
                        <strong>Observacion: </strong>{{ datos["datos_10"][0].observacion }}
                    </td>
                </tr>
            {% endif %}
        </tbody>
        {% endif %}
    {% endif %}
    </table>
</div>
{% endblock body %} 
</body>
</html>
