<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {# <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> #}
    <title>Reporte Examenes</title>
    {% block stylesheets %}
    <style>
        body{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            width: 1000px;
            /* height: 792px; */
            margin-left: auto;
            margin-right: auto;
        }

        .mainDiv{
            background-color: azure;
        }

        .tableDiv{
            /* width: 612px; */
            /* height: 792px; */
            background-color: white;
        }

        table{
            border: none;
            width: 100%;
        }
        
        tr th{
            /*margin-top: 0;*/
            text-align: center;
            font-size: 12px;
        }

        .h-reporte{
            font-size: 12px;
            padding-left: auto;
            padding-right: auto;
        }

        tr td{
            text-align: center;
            font-size: 14px;
        }

        .datosP td{
            padding-left: 10px;
            text-align: left;
            font-size: 12px;
            
        }

        .datosP td strong{
            /* margin-left: 20px; */
            font-size: 12px;
        }

        .dataE{
            text-align: left;
        }

        .dataE td{
            margin-left: 40px;
            font-size: 12px;
        }

        img{
            width: 200px;
        }

        hr{
            width: 85%;
        }
    </style>
    {% endblock stylesheets%}
</head>
<body>
{% block body %}
{% include "Reportes/header.html.twig" %}    
<div class="tableDiv">
    <table>
        <thead>
            <th class="h-reporte" style="padding-left: 20px;">
                Examen/Elemento
            </th>
            <th class="h-reporte">
                Resultado
            </th>
            <th class="h-reporte">
                Unidades
            </th>
            <th class="h-reporte" style="padding-right: 50px;">
                Rangos de Referencia
            </th>
        </thead>
    {% for arreglos in arrays %}
    {% if arreglos is not empty %}
        {% if arreglos[0].id_examen == 16 %}
            <tbody>
                <tr>
                    <th colspan="4" style="text-align: left; padding-left: 60px; padding-top: 10px; font-size: 12px;">
                        <strong>{{ arrays["datos_orina"][0].nombre_examen }}</strong>
                    </th>
                </tr>

            {% for dato in arrays["datos_orina"] %}
                {% if (dato.id_tipo_elemento == 1) %}
                <tr><td colspan="4" style="padding-left: 60px; padding-top:10px; text-align: left; font-size: 12px;"><strong>{{dato.nombre_elemento}}</strong></td></tr>
                {% endif %}
                {% if (dato.id_tipo_elemento == 2) %}
                <tr class="dataE">
                    <td style="width: 25%; text-align:left; padding-left:70px;">
                        {{ dato.nombre_elemento }}
                    </td>
                    <td style="width: 25%;">
                        {{ dato.resultado }}
                    </td>
                    <td style="width: 25%;">
                        {{ dato.unidades }}
                    </td>
                    <td style="width: 25%; padding-right: 40px;">
                        {{ dato.valor_inicial }} - {{ dato.valor_final }}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            {% if arrays["datos"][0].observacion != "" %}
                <tr>
                    <td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 5px; font-size: 12px;">
                        <strong>Observacion: </strong>{{ arrays["datos"][0].observacion }}
                    </td>
                </tr>
            {% endif %}
            </tbody>
        {% endif %}
    {% endif %}
    {% if arreglos != 0 %}
        {% if arreglos[0].id_examen == 6 %}
            <tbody>
                <tr>
                    <th colspan="4" style="text-align: left; padding-left: 60px; padding-top: 10px; font-size: 12px;">
                        <strong>{{ arrays["datos_heces"][0].nombre_examen }}</strong>
                    </th>
                </tr>
                {% for dato in arrays["datos_heces"] %}
                    {% if (dato.id_tipo_elemento == 1) %}
                    <tr><td colspan="4" style="padding-left: 60px; padding-top:10px; text-align: left; font-size: 12px;"><strong>{{dato.nombre_elemento}}</strong></td></tr>
                    {% endif %}
                    {% if (dato.id_tipo_elemento == 2) %}
                    <tr class="dataE">
                        <td style="width: 25%; text-align:left; padding-left:70px;">
                            {{ dato.nombre_elemento }}
                        </td>
                        <td style="width: 25%;">
                            {{ dato.resultado }}
                        </td>
                        <td style="width: 25%;">
                            {{ dato.unidades }}
                        </td>
                        <td style="width: 25%; padding-right: 40px;">
                            {{ dato.valor_inicial }} - {{ dato.valor_final }}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                {% if arrays["datos"][0].observacion != "" %}
                    <tr>
                        <td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 5px; font-size: 12px;">
                            <strong>Observacion: </strong>{{ arrays["datos"][0].observacion }}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        {% endif %}
    {% endif %}
    {% if arreglos != 0 %}
        {% if arreglos[0].id_examen == 4 %}
            <tbody>
                <tr>
                    <th colspan="4" style="text-align: left; padding-left: 60px; padding-top: 10px; font-size: 12px;">
                        <strong>{{ arrays["datos_hemograma"][0].nombre_examen }}</strong>
                    </th>
                </tr>
            {% for dato in arrays["datos_hemograma"] %}
                {% if (dato.id_tipo_elemento == 1) %}
                <tr><td colspan="4" style="padding-left: 60px; padding-top:10px; text-align: left; font-size: 12px;"><strong>{{dato.nombre_elemento}}</strong></td></tr>
                {% endif %}
                {% if (dato.id_tipo_elemento == 2) %}
                <tr class="dataE">
                    <td style="width: 25%; text-align:left; padding-left:70px;">
                        {{ dato.nombre_elemento }}
                    </td>
                    <td style="width: 25%;">
                        {{ dato.resultado }}
                    </td>
                    <td style="width: 25%;">
                        {{ dato.unidades }}
                    </td>
                    <td style="width: 25%; padding-right: 40px;">
                        {{ dato.valor_inicial }} - {{ dato.valor_final }}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            {% if arrays["datos"][0].observacion != "" %}
                <tr>
                    <td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 5px; font-size: 12px;">
                        <strong>Observacion: </strong>{{ arrays["datos"][0].observacion }}
                    </td>
                </tr>
            {% endif %}
            </tbody>
        {% endif %}
    {% endif %}
    {% if arreglos != 0 %}
        {% if arreglos[0].id_examen != "4" and arreglos[0].id_examen != "6" and arreglos[0].id_examen != "16" %}
            {% if arrays["datos"][0].id_area == "1" %}
            <tbody>
                <tr><td colspan="4" style="text-align: left; padding-left: 60px; padding-top: 10px; font-size: 12px;"><strong>{{arrays["datos"][0].nombre_area}}</strong></td></tr>
                {% for dato in arrays["datos"] %}
                    <tr class="dataE">
                        <td style="width: 25%; text-align:left; padding-left:70px;">
                            <strong>{{ dato.nombre_elemento }}</strong>
                        </td>
                        <td style="width: 25%;">
                            {{ dato.resultado }}
                        </td>
                        <td style="width: 25%;">
                            {{ dato.unidades }}
                        </td>
                        <td style="width: 25%; padding-right: 40px;">
                            {{ dato.valor_inicial }} - {{ dato.valor_final }}
                        </td>
                    </tr>
                {% endfor %}
                {% if arrays["datos"][0].observacion != "" %}
                    <tr>
                        <td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 5px; font-size: 12px;">
                            <strong>Observacion: </strong>{{ arrays["datos"][0].observacion }}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
            {% endif %}
            {% if arrays["datos"][0].id_area == "2" %}
            <tbody>
                <tr><td colspan="4" style="text-align: left; padding-left: 60px; padding-top: 10px;"><strong>{{arrays["datos"][0].nombre_area}}</strong></td></tr>
                {% for dato in arrays["datos"] %}
                    <tr class="dataE">
                        <td style="width: 25%; text-align:left; padding-left:70px;">
                            <strong>{{ dato.nombre_elemento }}</strong>
                        </td>
                        <td style="width: 25%;">
                            {{ dato.resultado }}
                        </td>
                        <td style="width: 25%;">
                            {{ dato.unidades }}
                        </td>
                        <td style="width: 25%; padding-right: 40px;">
                            {{ dato.valor_inicial }} - {{ dato.valor_final }}
                        </td>
                    </tr>
                {% endfor %}
                {% if arrays["datos"][0].observacion != "" %}
                    <tr>
                        <td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 5px; font-size: 12px;">
                            <strong>Observacion: </strong>{{ arrays["datos"][0].observacion }}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
            {% endif %}
            {% if arrays["datos"][0].id_area == "3" %}
            <tbody>
                <tr><td colspan="4" style="text-align: left; padding-left: 60px; padding-top: 10px;"><strong>{{arrays["datos"][0].nombre_area}}</strong></td></tr>
                {% for dato in arrays["datos"] %}
                    <tr class="dataE">
                        <td style="width: 25%; text-align:left; padding-left:70px;">
                            <strong>{{ dato.nombre_elemento }}</strong>
                        </td>
                        <td style="width: 25%;">
                            {{ dato.resultado }}
                        </td>
                        <td style="width: 25%;">
                            {{ dato.unidades }}
                        </td>
                        <td style="width: 25%; padding-right: 40px;">
                            {{ dato.valor_inicial }} - {{ dato.valor_final }}
                        </td>
                    </tr>
                {% endfor %}
                {% if arrays["datos"][0].observacion != "" %}
                    <tr>
                        <td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 5px; font-size: 12px;">
                            <strong>Observacion: </strong>{{ arrays["datos"][0].observacion }}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
            {% endif %}
            {% if arrays["datos"][0].id_area == "4" %}
            <tbody>
                <tr><td colspan="4" style="text-align: left; padding-left: 60px; padding-top: 10px;"><strong>{{arrays["datos"][0].nombre_area}}</strong></td></tr>
                {% for dato in arrays["datos"] %}
                    <tr class="dataE">
                        <td style="width: 25%; text-align:left; padding-left:70px;">
                            <strong>{{ dato.nombre_elemento }}</strong>
                        </td>
                        <td style="width: 25%;">
                            {{ dato.resultado }}
                        </td>
                        <td style="width: 25%;">
                            {{ dato.unidades }}
                        </td>
                        <td style="width: 25%; padding-right: 40px;">
                            {{ dato.valor_inicial }} - {{ dato.valor_final }}
                        </td>
                    </tr>
                {% endfor %}
                {% if arrays["datos"][0].observacion != "" %}
                    <tr>
                        <td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 5px; font-size: 12px;">
                            <strong>Observacion: </strong>{{ arrays["datos"][0].observacion }}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
            {% endif %}
            {% if arrays["datos"][0].id_area == "5" %}
            <tbody>
                <tr><td colspan="4" style="text-align: left; padding-left: 60px; padding-top: 10px;"><strong>{{arrays["datos"][0].nombre_area}}</strong></td></tr>
                {% for dato in arrays["datos"] %}
                    <tr class="dataE">
                        <td style="width: 25%; text-align:left; padding-left:70px;">
                            <strong>{{ dato.nombre_elemento }}</strong>
                        </td>
                        <td style="width: 25%;">
                            {{ dato.resultado }}
                        </td>
                        <td style="width: 25%;">
                            {{ dato.unidades }}
                        </td>
                        <td style="width: 25%; padding-right: 40px;">
                            {{ dato.valor_inicial }} - {{ dato.valor_final }}
                        </td>
                    </tr>
                {% endfor %}
                {% if arrays["datos"][0].observacion != "" %}
                    <tr>
                        <td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 5px; font-size: 12px;">
                            <strong>Observacion: </strong>{{ arrays["datos"][0].observacion }}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
            {% endif %}
            {% if arrays["datos"][0].id_area == "6" %}
            <tbody>
                <tr><td colspan="4" style="text-align: left; padding-left: 60px; padding-top: 10px;"><strong>{{arrays["datos"][0].nombre_area}}</strong></td></tr>
                {% for dato in arrays["datos"] %}
                    <tr class="dataE">
                        <td style="width: 25%; text-align:left; padding-left:70px;">
                            <strong>{{ dato.nombre_elemento }}</strong>
                        </td>
                        <td style="width: 25%;">
                            {{ dato.resultado }}
                        </td>
                        <td style="width: 25%;">
                            {{ dato.unidades }}
                        </td>
                        <td style="width: 25%; padding-right: 40px;">
                            {{ dato.valor_inicial }} - {{ dato.valor_final }}
                        </td>
                    </tr>
                {% endfor %}
                {% if arrays["datos"][0].observacion != "" %}
                    <tr>
                        <td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 5px; font-size: 12px;">
                            <strong>Observacion: </strong>{{ arrays["datos"][0].observacion }}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
            {% endif %}
            {% if arrays["datos"][0].id_area == "7" %}
            <tbody>
                <tr><td colspan="4" style="text-align: left; padding-left: 60px; padding-top: 10px;"><strong>{{arrays["datos"][0].nombre_area}}</strong></td></tr>
                {% for dato in arrays["datos"] %}
                    <tr class="dataE">
                        <td style="width: 25%; text-align:left; padding-left:70px;">
                            <strong>{{ dato.nombre_elemento }}</strong>
                        </td>
                        <td style="width: 25%;">
                            {{ dato.resultado }}
                        </td>
                        <td style="width: 25%;">
                            {{ dato.unidades }}
                        </td>
                        <td style="width: 25%; padding-right: 40px;">
                            {{ dato.valor_inicial }} - {{ dato.valor_final }}
                        </td>
                    </tr>
                {% endfor %}
                {% if arrays["datos"][0].observacion != "" %}
                    <tr>
                        <td colspan="4" style="text-align: left; padding-left: 70px; padding-top: 5px; font-size: 12px;">
                            <strong>Observacion: </strong>{{ arrays["datos"][0].observacion }}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
            {% endif %}
        {% endif %}
    {% endif %}
    {% endfor %}
    </table>
</div>
{% endblock body %}


        
</body>

{% block javascripts %}

{% endblock javascripts %}
</html>
