{% block stylesheets %}
    <style>
        body{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .mainDiv{
            background-color: azure;
        }

        .tableDiv{
            width: 612px;
            /*height: 792px;*/
            background-color: white;
            margin-left: auto;
            margin-right: auto;
        }

        table{
            border: none;
            width: 100%;
        }
        
        tr th{
            /*margin-top: 0;*/
            text-align: center;
            font-size: 10px;
        }

        .h-reporte{
            font-size: 10px;
            padding-left: auto;
            padding-right: auto;
        }

        tr td{
            text-align: center;
            font-size: 10px;
        }

        .datosP td{
            text-align: left;
            font-size: small;
            
        }

        .datosP td strong{
            /* margin-left: 20px; */
            font-size: 10px;
        }

        .dataE{
            text-align: left;
        }

        .dataE td{
            margin-left: 40px;
        }

        img{
            width: 180px;
        }

        hr{
            width: 85%;
        }
    </style>
{% endblock stylesheets%}
<body>
    <div class="mainDiv">
        <div class="tableDiv">
            <table>
                <tr>
                    <th><img src="{{ asset('build/images/log-lab-MB-ori.ed37b20d.png') }}" alt=""></th>
                </tr>
                <tr>
                    <th>N° DE INSCRIPCION 742</th>
                </tr>
                <tr>
                    <td>1ra calle oriente y 22 avenida norte #1-9</td>
                </tr>
                <tr>
                    <td>Telefono: 2451 9607 - WhatsApp: 7769 9792</td>
                </tr>
            </table>
            <hr>
            <table>
                <tr class="datosP">
                    <td >
                        <p>
                            <strong style="margin-left: 40px;">Medico: </strong>
                            {{ datos[0].nombre_medico }}
                        </p>
                        
                    </td>
                </tr>
                <tr class="datosP">
                    <td style="width: 40%;">
                        <strong style="margin-left: 40px;">Paciente:</strong>
                        {{ datos[0].nombre }} {{ datos[0].apellido }}
                    </td>
                    <td style="width: 20%;">
                        <strong>Edad:</strong>
                        
                        {% if datos[0].edad_dias < 30 %}
                            {{ datos[0].edad_dias }} dias
                        {% elseif datos[0].edad_meses < 12 %}
                            {{ datos[0].edad_meses }} meses
                        {% else %}
                            {{ datos[0].edad_anios }} años
                        {% endif %}
                    </td>
                    <td style="width: 40%;">
                        <strong>Fecha:</strong>
                        {{ datos[0].fecha_orden|date("d-m-Y H:i:s") }}
                    </td>
                </tr>
            </table>
            <hr>
            <table>
                <thead>
                    <tr class="">
                        <th class="h-reporte">
                            Examen/Elemento
                        </th>
                        <th class="h-reporte">
                            Resultado
                        </th>
                        <th class="h-reporte">
                            Unidades
                        </th>
                        <th class="h-reporte">
                            Rangos de Referencia
                        </th>
                    </tr>
                </thead>
                
                {% for dato in datos %}
                {% if (dato.id_tipo_elemento == 1) %}
                <tr><td colspan="4" style="padding-left: 40px; padding-top:10px; text-align: left; font-size: 10px;"><strong>{{dato.nombre_elemento}}</strong></td></tr>
                {% endif %}
                {% if (dato.id_tipo_elemento == 2) %}
                <tr class="dataE">
                    <td style="width: 25%; text-align:left; padding-left:40px;">
                        {{ dato.nombre_elemento }}
                    </td>
                    <td style="width: 25%;">
                        {{ dato.resultado }}
                    </td>
                    <td style="width: 25%;">
                        {{ dato.unidades }}
                    </td>
                    <td style="width: 25%;">
                        {{ dato.valor_inicial }} - {{ dato.valor_final }}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
    
    
</body>

