{% block stylesheets %}
<style>
    .bodyR {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: small;
    }
    .wrapper{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    img{
        width: 120px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .head-grid {
        display: grid;
        grid-template-columns: 20% 80%;
    }
    .head-grid > div{
        text-align: center;
    }
    .name-grid{
        display: grid;
        grid-template-columns: 25% 75%;
        border-left: 1px solid rgb(141, 141, 141);
    }
    .name-grid > div{
        border-bottom: 1px solid rgb(141, 141, 141);
        border-top: 1px solid rgb(141, 141, 141);
        border-right: 1px solid rgb(141, 141, 141);
        padding-left: 10px;
    }
    .edad-grid{
        display: grid;
        grid-template-columns: 25% 25% 20% 30%;
        border-left: 1px solid rgb(141, 141, 141);
    }
    .edad-grid > div{
        border-right: 1px solid rgb(141, 141, 141);
        border-bottom: 1px solid rgb(141, 141, 141);
        text-align: center;
    }
    .title{
        display: grid;
        grid-template-columns: 50% 50%;
        border-left: 1px solid rgb(141, 141, 141);
    }
    .title > div{
        border-right: 1px solid rgb(141, 141, 141);
        text-align: center;
    }
    .generales-grid{
        display: grid;
        grid-template-columns: 50% 50%;
        border-left: 1px solid rgb(141, 141, 141);
    }
    .generales-grid > div{
        text-align: center;
    }
    .generales{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .generales > div{
        border-top: 1px solid rgb(141, 141, 141);
        border-right: 1px solid rgb(141, 141, 141);
        text-align: center;
    }
    .restos{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .restos > div{
        border-top: 1px solid rgb(141, 141, 141);
        border-right: 1px solid rgb(141, 141, 141);
        text-align: center;
    }
    .proto{
        display: grid;
        grid-template-columns: 50% 50%;
        border-left: 1px solid rgb(141, 141, 141);
    }
    .proto > div{
        border-top: 1px solid rgb(141, 141, 141);
        border-bottom: 1px solid rgb(141, 141, 141);
        /* border-right: 1px solid rgb(141, 141, 141); */
    }
    .activos-quistes{
        display: grid;
        grid-template-columns: 50% 50%;
        border-left: 1px solid rgb(141, 141, 141);
    }
    .activos-quistes > div{
        text-align: center;
        border-right: 1px solid rgb(141, 141, 141);
    }
    .proto-content{
        display: grid;
        grid-template-columns: 50% 50%;
        border-left: 1px solid rgb(141, 141, 141);
    }
    .proto-content > div{
        border-bottom: 1px solid rgb(141, 141, 141);
    }
    .proto-content-two{
        display: grid;
        grid-template-columns: 50% 50%;
        border-left: 1px solid rgb(141, 141, 141);
    }
    .proto-content-two > div{
        border-right: 1px solid rgb(141, 141, 141);
        text-align: center;
    }
    .meta{
        display: grid;
    }
    .meta > div{
        border-bottom: 1px solid rgb(141, 141, 141);
        border-left: 1px solid rgb(141, 141, 141);
        border-right: 1px solid rgb(141, 141, 141);
    }
    .meta-content{
        display: grid;
        grid-template-columns: 50% 50%;
        border-left: 1px solid rgb(141, 141, 141);
    }
    .meta-content > div{
        border-bottom: 1px solid rgb(141, 141, 141);
        border-right: 1px solid rgb(141, 141, 141);
    }
    .meta > div{
        border-bottom: 1px solid rgb(141, 141, 141);
        border-right: 1px solid rgb(141, 141, 141);
    }
    .obs-grid{
        display: grid;
        /* grid-template-rows: 60px; */
        height: 60px;
        /* vertical-align: text-top; */
        border-bottom: 1px solid rgb(141, 141, 141);
        border-right: 1px solid rgb(141, 141, 141);
        border-left: 1px solid rgb(141, 141, 141);
    }
    .footer-grid{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 60px;
        border-left: 1px solid rgb(141, 141, 141);
    }
    .footer-grid > div{
        border-bottom: 1px solid rgb(141, 141, 141);
        border-right: 1px solid rgb(141, 141, 141);
    }
    .footer{
        display: grid;
        grid-template-columns: 50% 50%;
        border-bottom: 1px solid rgb(141, 141, 141);
        border-left: 1px solid rgb(141, 141, 141);
    }
    .footer > div{
        text-align: center;
        border-right: 1px solid rgb(141, 141, 141);
        font-weight: bold;
    }
</style>
{% endblock stylesheets %}

{% block body %}
<body class="bodyR">
    <div class="wrapper">
        <div>
            <div class="head-grid">
                <div>
                    <img src="{{ asset('build/images/logo-lab-MB.093a0228.png') }}" alt="">
                </div>
                <div>
                    <br>
                    <strong>N° DE INSCRIPCION 742</strong> <br>
                    1ra calle oriente y 22 avenida norte #1-9 <br>
                    Colonia Angélica, Sonsonate <br>
                    Tel. 2451 9607 - WhatsApp: 7625 8233 <br>
                </div>
            </div>
            {# NOMBRE PACIENTE #}
            <div class="name-grid">
                <div><strong style="margin-left: 0px;">Nombre paciente:</strong></div>
                <div>{{ datos_head[0].nombre }} {{ datos_head[0].apellido }}</div>
            </div>
            {# EDAD Y FECHA #}
            <div class="edad-grid">
                <div><strong>Edad:</strong></div>
                <div>
                    {% if datos_head[0].edad_dias < 30 %}
                        {{ datos_head[0].edad_dias }} dias
                    {% elseif datos_head[0].edad_meses < 12 %}
                        {{ datos_head[0].edad_meses }} meses
                    {% else %}
                        {{ datos_head[0].edad_anios }} años
                    {% endif %}
                </div>
                <div><strong>Fecha:</strong></div>
                <div>{{ datos_head[0].fecha_orden|date("d-m-Y H:i") }}</div>
            </div>
            <div class="title">
                {% for datos in arrays %}
                    {% for dato in datos %}
                        {% if dato.id >= 31 and dato.id <= 37 and dato.id_tipo_elemento == 1 %}
                            <div style="color: #808080; font-family: sans-serif;">
                                <strong>{{ dato.nombre_elemento }}</strong>
                            </div>
                        {% endif %}
                        {% if dato.id >= 38 and dato.id <= 40 and dato.id_tipo_elemento == 1 %}
                            <div style="color: #808080; font-family: sans-serif;">
                                <strong>{{ dato.nombre_elemento }}</strong>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            
            <div class="generales-grid">
                {# COLOR A MACROFAGOS #}
                <div class="generales">
                    {% for datos in arrays %}
                        {% for dato in datos %}
                            {% if dato.id >= 31 and dato.id <= 37 and dato.id_tipo_elemento == 2 %}
                                <div><strong>{{ dato.nombre_elemento }}</strong></div>
                                <div>{{ dato.resultado }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %} 
                </div>
                {# MACROSCOPICOS / MICROSCOPICOS #}
                <div class="restos">
                    {% for datos in arrays %}
                        {% for dato in datos %}
                            {% if dato.id >= 38 and dato.id <= 40 and dato.id_tipo_elemento == 2 %}
                                <div><strong>{{ dato.nombre_elemento }}</strong></div>
                                <div>{{ dato.resultado }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %} 
                </div>
            </div>
            {# TITULO PROTOZOARIOS #}
            <div class="proto">
                <div>
                    {% for datos in arrays %}
                        {% for dato in datos %}
                            {% if dato.id >= 41 and dato.id <= 49 and dato.id_tipo_elemento == 1 %}
                                <div style="padding-left: 60px; color: #808080; font-family: sans-serif;">
                                    <strong>{{ dato.nombre_elemento }}</strong>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="activos-quistes">
                    <div style="color: #808080; font-family: sans-serif;"><strong>ACTIVOS</strong></div>
                    <div style="color: #808080; font-family: sans-serif;"><strong>QUISTES</strong></div>
                </div>
            </div>
            {# CONTENIDO PROTOZOARIOS #}
            <div class="proto-content">
                {% for datos in arrays %}
                    {% for dato in datos %}
                        {% if dato.ordenamiento >= 301 and dato.ordenamiento <= 309 and dato.id_tipo_elemento == 2 %}
                            <div style="text-align: right; padding-right: 20px;">
                                <strong>{{ dato.nombre_elemento }}</strong>
                            </div>
                            <div class="proto-content-two">
                                <div>{{ dato.resultado }}</div>
                                <div>{{ dato.quiste }}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            {# TITULO METAZOARIOS #}
            <div class="meta">
                {% for datos in arrays %}
                    {% for dato in datos %}
                        {% if dato.id == 72 and dato.id_tipo_elemento == 1 %}
                            <div style="padding-left: 60px; color: #808080; font-family: sans-serif;">
                                <strong>{{ dato.nombre_elemento }}</strong>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            {# CONTENIDO METAZOARIOS #}
            <div class="meta-content">
                {% for datos in arrays %}
                    {% for dato in datos %}
                        {% if dato.ordenamiento >= 501 and dato.ordenamiento <= 508 and dato.id_tipo_elemento == 2 %}
                            <div style="text-align: right; padding-right: 20px;"><strong>{{ dato.nombre_elemento }}</strong></div>
                            <div style="text-align: center;">{{ dato.resultado }}</div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            {# PIE DEL REPORTE #}
            <div class="obs-grid">
                OBSERVACIONES: <br>
                {{ arrays["datos_heces"][0].observacion }}
            </div>
            <div class="footer-grid">
                <div></div>
                <div></div>
            </div>
            <div class="footer">
                <div>Sello</div>
                <div>Profesional que Reporta</div>
            </div>
        </div>
    </div>
</body>
{% endblock body %}



