<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte Examenes</title>
    {% block stylesheets %}
    <style>
        body{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .mainDiv{
            background-color: azure;
        }

        .tableDiv{
            /* width: 612px; */
            /* height: 792px; */
            background-color: white;
            margin-left: auto;
            margin-right: auto;
        }

        table{
            border: none;
            width: 100%;
        }
        
        tr th{
            /*margin-top: 0;*/
            text-align: center;
            font-size: 14px;
        }

        .h-reporte{
            font-size: 14px;
            padding-left: auto;
            padding-right: auto;
        }

        tr td{
            text-align: center;
            font-size: 14px;
        }

        .datosP td{
            padding-left: 10px;
            text-align: left;
            font-size: 14px;
            
        }

        .datosP td strong{
            /* margin-left: 20px; */
            font-size: 14px;
        }

        .dataE{
            text-align: left;
        }

        .dataE td{
            margin-left: 40px;
        }

        img{
            width: 250px;
        }

        hr{
            width: 85%;
        }
    </style>
    {% endblock stylesheets%}
</head>
<body>
    
<div class="tableDiv">

    {% block body %}
    {% include "Reportes/header.html.twig" %}
    {% endblock %}

    <table>
        <thead>
            <tr class="">
                <th class="h-reporte" style="padding-left: 40px;">
                    Examen/Elemento
                </th>
                <th class="h-reporte">
                    Resultado
                </th>
                <th class="h-reporte">
                    Unidades
                </th>
                <th class="h-reporte" style="padding-right: 60px;">
                    Rangos de Referencia
                </th>
            </tr>
            
        {% if arrays["datos_orina"][0].id_examen == "16" %}
            <tr>
                <th style="padding-left: 30px;">
                    <p><strong>{{ arrays["datos_orina"][0].nombre_examen }}</strong></p>
                </th>
            </tr>
        </thead>
            {% for dato in arrays["datos_orina"] %}
                {% if (dato.id_tipo_elemento == 1) %}
                <tr><td colspan="4" style="padding-left: 60px; padding-top:10px; text-align: left; font-size: 14px;"><strong>{{dato.nombre_elemento}}</strong></td></tr>
                {% endif %}
                {% if (dato.id_tipo_elemento == 2) %}
                <tr class="dataE">
                    <td style="width: 25%; text-align:left; padding-left:70px;">
                        {{ dato.nombre_elemento }}
                    </td>
                    <td style="width: 25%;">
                        {{ dato.resultado }}
                    </td>
                    <td style="width: 25%;">
                        {{ dato.unidades }}
                    </td>
                    <td style="width: 25%; padding-right: 40px;">
                        {{ dato.valor_inicial }} - {{ dato.valor_final }}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if arrays["datos_hemograma"][0].id_examen == "4" %}
            <tr>
                <th style="padding-left: 30px;">
                    <p><strong>{{ arrays["datos_hemograma"][0].nombre_examen }}</strong></p>
                </th>
            </tr>
        </thead>
            {% for dato in arrays["datos_hemograma"] %}
                {% if (dato.id_tipo_elemento == 1) %}
                <tr><td colspan="4" style="padding-left: 60px; padding-top:10px; text-align: left; font-size: 14px;"><strong>{{dato.nombre_elemento}}</strong></td></tr>
                {% endif %}
                {% if (dato.id_tipo_elemento == 2) %}
                <tr class="dataE">
                    <td style="width: 25%; text-align:left; padding-left:70px;">
                        {{ dato.nombre_elemento }}
                    </td>
                    <td style="width: 25%;">
                        {{ dato.resultado }}
                    </td>
                    <td style="width: 25%;">
                        {{ dato.unidades }}
                    </td>
                    <td style="width: 25%; padding-right: 40px;">
                        {{ dato.valor_inicial }} - {{ dato.valor_final }}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
                
    </table>
</div>
        
</body>

{% block javascripts %}

{% endblock javascripts %}
</html>
