
{% extends '@SonataAdmin/CRUD/action.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        form {
            background-color: rgba(192, 192, 192, 0.207);
            padding: 20px;
            border-radius: 10px;
        }
    </style>

    {# encore_entry_link_tags('role_edit') #}
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function guardarExamen(idOrden) {
            idExamen = $("#idexamen").val();
            idTipoMuestra = $("#idtipomuestra").val();
            $.ajax({
                //Tipo de peticion: GET o POST
                type: "POST",
                //la URL para la peticion
                url: "{{ path('lab_detalles_guardar_examenes') }}",
                //La informacion a enviar
                //tambien es posible utilizar una cadena de datps
                data: {idOrden: idOrden, idExamen: idExamen, idTipoMuestra: idTipoMuestra},
                //El tipo de informacion que se espera de respuesta
                dataType: "html",
                //Codigo a ejecutar si la peticion es satisfactoria
                //La resṕuesta es pasada como argumento a la funcion
                success: function (text) {
                    $("#ordenExamenes").html(text);
                }
            })
        }
        $(document).ready(function() {
            $('#idPaciente').select2();
        });
        $(document).ready(function() {
            $('#idexamen').select2();
        });
        $(document).ready(function() {
            $('#idtipomuestra').select2();
        });
    </script>
{% endblock javascripts %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h4 class="text-primary">
                                <strong>
                                    <i class="fa fa-plus" style="color:lightseagreen;"></i>  
                                      Crear Nueva Orden
                                </strong>
                            </h4>
                            <br>
                            <form method="post" name="datos" id="datos" action="">
                                <input type="hidden" name="action" value="{{ action }}">
                                <input type="hidden" name="idorden" value="{{ idorden }}">
                                {# PACIENTE #}
                                <div class="form-group row">
                                    <label for="idPaciente" class="col-sm-3 col-form-label text-right">Paciente:</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="idPaciente" name="idPaciente" style="width: 100%;" required>
                                            {% if (action == "save") %}
                                                <option value="">...seleccione...</option>
                                            {% endif %}
                                            {% for paciente in pacientes %}
                                                <option value="{{paciente.id}}">{{paciente.nombre}} {{paciente.apellido}}</option>
                                            {% endfor %}
                                        </select>  
                                    </div>                                                                                       
                                </div>
                                {# MEDICO #}
                                <div class="form-group row">
                                    <label for="idMedico" class="col-sm-3 col-form-label text-right">Medico:</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="idMedico" name="idMedico">
                                            {% if (action == "save") %}
                                                <option value="">...seleccione...</option>
                                            {% endif %}
                                            {% for medico in medicos %}
                                                <option value="{{medico.id}}">{{medico.nombre}} {{medico.apellido}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {# TIPO DOCUMENTO #}
                                <div class="form-group row">
                                    <label for="idTipodocumento" class="col-sm-3 col-form-label text-right">Tipo Documento:</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="idTipodocumento" name="idTipodocumento">
                                            {% if (action == "save") %}
                                                <option value="">...seleccione...</option>
                                            {% endif %}
                                            {% for tipodocumento in tiposdocumento %}
                                                <option value="{{tipodocumento.id}}">{{tipodocumento.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {# NUMERO DOCUMENTO #}
                                <div class="form-group row">
                                    <label for="numeroDocumento" class="col-sm-3 col-form-label text-right">Numero de Documento:</label>
                                    <div class="col-sm-9">
                                        {% if (action == "save") %}
                                        <input class="form-control" type="text" id="numeroDocumento" name="numeroDocumento">
                                        {% elseif (action == "edit") %}
                                        <input class="form-control" type="text" id="numeroDocumento" name="numeroDocumento" value="{{ orden.numero_documento }}" readonly>
                                        {% endif %}
                                    </div>
                                </div>
                                {# FORMA DE PAGO #}
                                <div class="form-group row">
                                    <label for="idFormapago" class="col-sm-3 col-form-label text-right">Forma de Pago:</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="idFormapago" name="idFormapago">
                                            {% for formapago in formaspago %}
                                                <option value="{{formapago.id}}">{{formapago.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {# EXAMEN #}
                                <div class="form-group row">
                                    <label for="idexamen" class="col-sm-3 col-form-label text-right">Examen:</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="idexamen" name="idexamen" style="width: 100%;" required>
                                            <option value="">...seleccione...</option>
                                            {% for examen in examenes %}
                                                <option value="{{examen.id}}">{{examen.nombre_examen}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        {% if (action == "edit") %}
                                        <button type="button" onclick="guardarExamen({{ idorden }})" class="btn btn-primary">Agregar examen</button>                                
                                        {% endif %}
                                    </div>
                                </div>    
                                {# TIPO MUESTRA #}                            
                                <div class="form-group row">
                                    <label for="idtipomuestra" class="col-sm-3 col-form-label text-right">Tipo de muestra:</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="idtipomuestra" name="idtipomuestra" style="width: 100%;" required>
                                            <option value="">...seleccione...</option>
                                            {% for tipomuestra in tiposmuestra %}
                                                <option value="{{tipomuestra.id}}">{{tipomuestra.tipo_muestra}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>                                                                                                        
                                <br>
                                {% if (action == "save") %}
                                    <button type="submit" id="btnGuardar" style="width: 200px; margin-top: 5px;" class="btn btn-info">Crear orden de trabajo</button>
                                {% elseif (action == "edit") %}
                                    <a style="width: 200px; margin-top: 5px;" href="{{ path("admin_app_laborden_index") }}" class="btn btn-success">Finalizar y crear nueva</a>
                                    <a style="width: 200px; margin-top: 5px;" href="{{ path("admin_app_labresultados_index") }}" class="btn btn-info">Ingresar Resultado   
                                        <i class="fa fa-sign-out"></i>
                                    </a>
                                {% endif %}
                            </form>                                                      
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="ordenExamenes">
                                {% for detalle in detalles %}
                                    + {{detalle.nombre_examen}} {{detalle.tipo_muestra}} {{detalle.precio}} <br>
                                {% endfor %}
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

{% endblock %}