
{% extends '@SonataAdmin/CRUD/action.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {# encore_entry_link_tags('role_edit') #}
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
    $(document).ready(function(){
        //$('#detalleOrden').DataTable();
    }); 
</script>
{% endblock javascripts %}


{% block content %}
{{ action }}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="box box-primary">
        <div class="box-body">
            <h3 class="text-primary"><strong><i class="fa fa-search" style="background-color:lightseagreen;"></i>Ordenes Laboratorio</strong></h3>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="sonata-ba-field sonata-ba-field-standard-natual">
                        <form method="get" name="datos" id="datos" action="">
<hidden name="action" value="{{ action }}">
                            <table class="table table-responsive">
                                <tr>
                                    <td class="bg-primary text-right"><label for="idPaciente">Paciente</label></td>
                                    <td>
                                    <select class="form-control" id="idPaciente" name="idPaciente">
                                {% for paciente in pacientes %}
                                    <option value="{{paciente.id}}">{{paciente.nombre}}{{paciente.apellido}}</option>
                                {% endfor %}
                                    </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bg-primary text-right"><label for="idMedico">Medico</label></td>
                                    <td>
                                    <select class="form-control" id="idMedico" name="idMedico">
                                {% for medico in medicos %}
                                    <option value="{{medico.id}}">{{medico.nombre}}{{medico.apellido}}</option>
                                {% endfor %}
                                    </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bg-primary text-right"><label for="idTipodocumento">Tipo Documento</label></td>
                                    <td>
                                    <select class="form-control" id="idTipodocumento" name="idTipodocumento">
                                {% for tipodocumento in tiposdocumento %}
                                    <option value="{{tipodocumento.id}}">{{tipodocumento.nombre}}</option>
                                {% endfor %}
                                    </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bg-primary text-right" style="width:25%"><label for="idTipoDocumento">Numero de Documento</label></td>
                                    <td><input class="form-control" required type="text" id="idTipoDocumento"></td>
                                </tr>
                                <tr>
                                    <td class="bg-primary text-right"><label for="idFormaPago">Forma de Pago</label></td>
                                    <td>
                                    <select class="form-control" id="idFormapago" name="idFormapago">
                                {% for formapago in formaspago %}
                                    <option value="{{formapago.id}}">{{formapago.nombre}}</option>
                                {% endfor %}
                                    </select>
                                    </td>                                </tr>
                                {# {% endif %}
                                {% endfor %} #}
                            </table>
                            <button type="submit" id="btnGuardar" onclick="guardarResultadosElementos()" style="width: 200px; margin-top: 5px;" class="btn btn-info">Guardar</button>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table id="detalleOrden" class="table table-striped">
                    <thead class="text-center">
                        <tr>
                            <th>Examen</th>
                            <th>Muestra</th>
                            <th>Precio($)</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in 0..10 %}
                        <tr>
                                    <td>
                                    <select class="form-control" id="idexamen" name="idexamen[]">
                                    <option value=""></option>
                                {% for examen in examenes %}
                                    <option value="{{examen.id}}">{{examen.nombre_examen}}</option>
                                {% endfor %}
                                    </select>
                                    </td>
                                    <td>
                                    <select class="form-control" id="idtipomuestra" name="idtipomuestra[]">
                                    <option value=""></option>
                                {% for tipomuestra in tiposmuestra %}
                                    <option value="{{tipomuestra.id}}">{{tipomuestra.tipo_muestra}}</option>
                                {% endfor %}
                                    </select>
                                    </td>
                            <td>
                            <input type="text" id="precio" name="precio[]"> 
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>              
                        </form> 
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                    {# <button type="button" id="btnBuscar" style="width: 200px; margin-top: 5px;" class="btn btn-info"><i class="glyphicon glyphicon-zoom-in"></i>&nbsp; Buscar</button> #}
                </div>
            </div>
            <br>
        </div>
    </div>
</div>



{% endblock %}